<?xml version="1.0" encoding="UTF-8"?>

<launch>  
    <arg name="robot" default="machines"/>
    <arg name="debug" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="pause" default="true"/>  <!-- Start Gazebo with a blank world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <!--<arg name="world_name" value="$(find pi_robot_pkg)/worlds/model.world"/>-->
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg pause)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>
<!--  Include launch.xml if needed -->
    <include file="$(find pi_robot_pkg)/launch/spawn_robot_v2.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.0" />
        
        <arg name="urdf_robot_file" value="$(find pi_robot_pkg)/urdf/pi_robot_v2.urdf" />
        <arg name="robot_name" value="pi_robot" />
    </include>
</launch>
